[designatedlands]

# data source paths
dl_path=source_data
sources_designations=sources_designations.csv
sources_supporting=sources_supporting.csv

# write all outputs to this folder
out_path=outputs

# database url
db_url=postgresql://designatedlands:designatedlands@localhost:5433/designatedlands

# define resolution of raster processing
resolution=25

# n_processes default of -1 = (number of cores available - 1)
n_processes=4
